.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero p {
  max-width: 600px;
  margin: auto;
  color: #666;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: white;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.container {
  display: flex;
  padding: 30px 60px;
  gap: 30px;
}

.products {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* Tablet */
@media (max-width: 1024px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }

.container {
  display: flex;
  padding: 40px 80px;
  gap: 40px;
    }


  .sidebar {
    display: none;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .toolbar {
    flex-direction: column;
    gap: 10px;
  }

  .products {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
    }


  .hero h1 {
    font-size: 24px;
  }
}

.subheading {
  font-size: 18px;
  font-weight: 400;
  color: #666;
  max-width: 600px;
  margin: 10px auto 0;
}
